.home-page-wrapper {
  width: 375px;
  margin: auto;
}

.home-header-wrapper {
  background-image: url("/assets/home/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 16px 24px;
  height: 330px;
}

.home-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 54px;
}

.home-header h2 {
  margin-left: 120px;
}

.home-notification-bell {
  background-color: inherit;
  border-radius: 50%;
  border: 1px solid #ffffff33;
  padding: 9px;
  width: 44px;
  height: 44px;
  cursor: pointer;
}

.home-balance {
  background-color: #ffffff;
  width: 327px;
  height: 86px;
  border-radius: 12px;
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: #a7a9b7;
  font-size: 12px;
}

.balace-count {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 0px;
}

.balance {
  margin: 0px 10px;
  font-size: 22.7px;
  font-weight: 500;
  color: #191d31;
}

.up-balace {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.up-balace p {
  margin-right: 10px;
  font-size: 12px;
  font-weight: 500;
  color: #1d272f;
}

.add-balance-button {
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.home-call-button {
  width: 327px;
  height: 52px;
  border-radius: 12px;
  background-color: #f5fa17;
  margin-top: 25px;
  font-size: 14px;
  border: none;
  cursor: pointer;
}

.themes-wrapper {
  padding: 16px 24px;
}

.themes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 20px;
}
.themes-wrapper h3,
.home-last-calls h3 {
  font-size: 16px;
  font-weight: 700;
  margin-top: 20px;
}

.home-last-calls {
  padding: 0px 24px;
}
.last-calls-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 15px;
}

.last-calls-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 327px;
  height: 70px;
  border-radius: 12px;
  border: 1px solid #f3f3f3;
  padding: 10px;
  margin-top: 10px;
}

.last-calls-item img {
  width: 50px;
  height: 50px;
}

.call-main-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.call-main-info p {
  font-size: 14px;
  font-weight: 500;
}

.call-main-info span,
.last-call-time {
  font-size: 12px;
  color: #a7a9b7;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 94px;
  height: 22px;
  margin-right: 5px;
}

.rating img {
  width: 15px;
  height: 15px;
}

.call-theme {
  font-size: 14px;
  color: #a7a9b7;
}

.home-page-footer {
  width: 375px;
  height: 90px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 -2px 20px -2px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
  padding: 10px 20px;
}

.home-page-footer:first-child {
  color: #1d272f;
}

.home-page-footer button {
  background-color: inherit;
  border: none;
  width: 80px;
  height: 39px;
  color: #a7a9b7;
  font-size: 10px;
  cursor: pointer;
}
.home-page-footer button:first-child {
  color: #1d272f;
}
