.main-header {
  width: 100vw;
  height: 101px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.main-header-logo {
  width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  height: 100px;
  border-bottom: 1px solid #a3a3a3;
}

.main-header-main {
  background-color: #066278;
  flex: 1;
  height: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.main-header-main div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 211px;
  height: 55px;
  background-color: #ffffff;
  margin-right: 30px;
  border-radius: 4px;
}

.main-header-main img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.main-header-main p {
  font-size: 16px;
}
