.withdrawal-inputs {
    margin-top: 30px;
}

.select-input {
    /* color: #A7A9B7; */
    border: none;
    width: 100%;
}

.withdrawal-support {
    margin-top: 30px;
    text-align: center;
    color: #A7A9B7;
}